In [1]:
import numpy as np
import matplotlib as plt
import pandas as pd

In [5]:
data = pd.read_csv('/home/fabian/ds_club/data/pokemon.csv')

**NOTE**: Make sure to add `/` in front of `home`

In [6]:
series = data['Defense']
print(type(series))

data_frame = data[['Defense']]
print(type(data_frame))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

## Data Filtering

Filter data with `'Defense'` criterion higher than value of 200

In [7]:
x = data['Defense'] > 200
data[x]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False

Can filter out *multiple criteria* **using `logical_and` from NumPy**

In [8]:
data[np.logical_and(
    data['Defense'] > 200, 
    data['Attack'] > 100
)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False

**OR** simplify by using *the mighty* **`&`** (Same function as the previous line)

In [9]:
data[
    (data['Defense'] > 200) & (data['Attack'] > 100)
]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False