**Disclaimer**:\
Since I have some prior knowledge on Python, I am skipping most of the parts covered in the section.\
In this notebook, I will only record some knowledge gaps that I had.

## Args & Kwargs

**`args`**: Flexible arguments\
**`kwargs`**: Dictionary argument

In [1]:
def f(*args):
    for i in args:
        print(i)
        
f(1)

1

In [2]:
def f(*args):
    for i in args:
        print(i)
        
f(1, 2, 3, 4)

1
2
3
4

In [5]:
def f(*args):
    for i in args:
        print(i * 3)
    
f(4, 1, 3, 2)

12
3
9
6

In [11]:
def f(**kwargs):
    for key, value in kwargs.items():
        print(key, ": ", value)

f(
    country = 'south korea',
    capital = 'seoul',
    population=1234
)

country :  south korea
capital :  seoul
population :  1234

## Lambda Function
Faster method of writing a function

In [12]:
square = lambda x: x**2
print(square(5))

25

In [13]:
add = lambda x,y,z: x+y+z
print(add(1,2,3))

6

## Anonymous Function

Can take 1+ arguments\
map(func, seq): applies a function to all the items in a list

In [15]:
number_list = [1,2,3]
y = map(lambda x:x**3, number_list)
print(list(y))

[1, 8, 27]

In [19]:
x = [3,5,7]
y = map(lambda x:3*x+1, x)
print(list(y))

[10, 16, 22]

## Iterators

Examples derived from w3schools.com

In [21]:
# Tuple
mytuple = ('apple', 'banana', 'cherry')
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [31]:
# Character
name = "blue"
it = iter(name)

print(next(it))
print(*it)

b
l u e

## Zip/Unzip Lists
Concat Lists

In [32]:
lst1 = [1,2,3,4]
lst2 = [5,6,7,8]

In [33]:
z = zip(lst1, lst2)
print(z)

<zip object at 0x7fb1d9ed1700>

In [34]:
zlst = list(z)
print(zlst)

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [36]:
unzip = zip(*zlst)
unlst1, unlst2 = list(unzip)

In [38]:
print(type(unlst1))
print(type(unlst2))

<class 'tuple'>
<class 'tuple'>

In [39]:
print(unlst1)
print(unlst2)

(1, 2, 3, 4)
(5, 6, 7, 8)

## List Comprehension

In [43]:
num1 = [1,2,3]
num2 = [i+1 for i in num1]
print(num2)

[2, 3, 4]

Application on CSV dataset

In [44]:
import pandas as pd

In [45]:
data = pd.read_csv('/home/fabian/ds_club/data/pokemon.csv')
threshold = sum(data.Speed)/len(data.Speed)
data["speed_level"] = ["high" if i > threshold else "low" for i in data.Speed]
data.loc[:10,["speed_level","Speed"]]

   speed_level  Speed
0          low     45
1          low     60
2         high     80
3         high     80
4          low     65
5         high     80
6         high    100
7         high    100
8         high    100
9          low     43
10         low     58